
<body style="background-image: url(<%= @background_image.avatar.url %>)" class="bg-image">
<div style="height: 100%" class="panel-menu-messege text-white text-center col-md-offset-2">
<p></p>
<img src="<%= @logo.avatar.url %>">
  <h2> Bienvenido </h2>
  <h4 class="well-lg text-space"><%= @messege.messege  %></h4>
<div>
    <a href="<%= @facebook_link.link %>" target="_blank"><span class="fa fa-facebook-square" style="font-size:36px"></span></a>
    <a href="<%= @instagram_link.link %>" target="_blank"><span class="fa fa-instagram" style="font-size:36px"></span></a>
</div>
</div>
</body>