
  <span id="panel-contacts" class="panel-contacts animated fadeIn">
    <h1 class="text-white text-center"> Contacto </h1>
    <% @contacts.each do |contact| %>
    <p></p>
    <div class="text-center text-white"><h3><%= contact.name %></h3></div>
    <div class="text-center text-white"><h3><%= contact.phone %></h3></div>
    <div class="text-center text-white"><h3>--------</h3></div>
    <p></p>
    <% end %>
    <% @emails_contact.each do |email| %>
    <div class="text-center text-white"><h3><%= email.email %></h3></div>
    <div class="text-center text-white"><h3>--------</h3></div>
    <% end %>
    <div class="text-center">
      <a href="<%= @facebook_link.link %>" target="_blank"><span class="fa fa-facebook-square" style="font-size:36px"></span></a>
      <a href="<%= @instagram_link.link %>" target="_blank"><span class="fa fa-instagram" style="font-size:36px"></span></a>
    </div>
    <p></p>
  </span>
<script>
function isMobile(){
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $("#panel-contacts").each(function () {
          $(this).height(650);
          $(this).width(850);
      });
      $("#panel-contacts h1").css("font-size", "70px");
      $("#panel-contacts h3").each(function () {
          $(this).css("font-size", "50px");
      });
      $("#panel-contacts h4").each(function () {
          $(this).css("font-size", "35px");
      });
      $("#panel-contacts span").each(function () {
          $(this).css("font-size", "115px");
      });
  }
}
$(document).ready(function () {
   isMobile()
});

</script>