<!DOCTYPE html>
<html>
  <head>
    <%= render 'application/favicon' %>
    <title>Carrocaseros</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav id="the_nav_bar" class="navbar navbar-inverse">
      <div class="navbar-header">
        <% if @logo %>
        <img src="<%= @logo.avatar.url(:thumb) %>" height="40">
        <% end %>
      </div>
      <div class="center">
        <ul class="nav navbar-nav">
            <li class="<%= "active" if params[:controller] == "home" %>"><a id="inicio" href="/home" class="navbar-brand">Inicio</a></li>
            <li class="<%= "active" if params[:controller] == "menu" %>"><a href="/menu" class="navbar-brand">Menú</a></li>
            <li class="<%= "active" if params[:controller] == "galery" %>"><a href="/galery" class="navbar-brand">Galería</a></li>
            <li class="<%= "active" if params[:controller] == "contact" %>"><a href="/contact" class="navbar-brand">Contacto</a></li>
        </ul>
      </div>
      <div class="nav navbar-right">
        <ul class="nav navbar-nav">
          <li class="">
            <a href="/shop" class="btn-lg" data-toggle="tooltip" title="Shopping">
              <i class="glyphicon glyphicon-shopping-cart"></i>
            </a>
          </li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </div>
    </nav>
  </head>
  <% if @background_image %>
  <body class="img_background" style="background:url(<%= @background_image.avatar.url %>) center center no-repeat; background-size: cover;">
  <% else %>
    <body>

  <% end %>
    <%= yield %>
  <div style="width: 100%; height: 50px"></div>
  </body>

</html>
<script>
    $.fn.extend({
        animateCss: function (animationName, callback) {
            var animationEnd = (function (el) {
                var animations = {
                    animation: 'animationend',
                    OAnimation: 'oAnimationEnd',
                    MozAnimation: 'mozAnimationEnd',
                    WebkitAnimation: 'webkitAnimationEnd',
                };

                for (var t in animations) {
                    if (el.style[t] !== undefined) {
                        return animations[t];
                    }
                }
            })(document.createElement('div'));

            this.addClass('animated ' + animationName).one(animationEnd, function () {
                $(this).removeClass('animated ' + animationName);

                if (typeof callback === 'function') callback();
            });

            return this;
        },
    });

    function NavisMobile(){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            $("#the_nav_bar").each(function () {
                $(this).height(100);
            });
            $("#the_nav_bar a").each(function () {
                $(this).css("font-size", "50px");
                $(this).css("margin-top", "20px");

            });
            $("#the_nav_bar img").css("height", "80px");
            $("#the_nav_bar ul").css("width", "800px");
            $("#the_nav_bar ul").css("margin-left", "-170px");
        }
    }
    NavisMobile();


</script>